@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables globales */
$fontmain: "Poppins", sans-serif;
$whitecolor: #ffffff;
$headfootcolor: #0d6efd;
$bgcolor: #eff2ff;
$darkblue: #242a56;
$lightblue: #749be7;
$namecolor: #ff3d00;
$starcolor: #f1c40f;
$iconcolor: #e92f3d;
$circlecolor: #EE7B85;
$blackcolor: #000000;
$btncolor: #ff6804;

body {
  background-color: $bgcolor;
}

.navbar-toggler:focus {
  box-shadow: none;
}

h2 {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  color: $darkblue;
  font-weight: 600;
}

.tituloSection {
  color: $darkblue;
}