@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  background-color: #eff2ff;
}

h2 {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  color: #242a56;
  font-weight: 600;
}

.tituloSection {
  color: #242a56;
}

/* Uso de extend */
.btn, .services .card-service .button, .grid-card .card-product .card-info .button {
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 12px;
  margin-top: 1.8rem;
  display: inline-block;
  font-size: 18px;
  text-align: center;
}

/* Uso de mixin */
.bg-dark {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-dark h1 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
}

#hero .container {
  height: 100vh;
}

.repair-mobile > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.2rem;
}

.repair-mobile > div img {
  border-radius: 1rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.paragraph {
  margin: 40px;
  line-height: 1.5;
  font-weight: 300;
}

.paragraph h3 {
  color: #242a56;
}

.repair-notebooks > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-bottom: 2.2rem;
}

.repair-notebooks > div img {
  border-radius: 1rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.accesories > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accesories > div img {
  border-radius: 1rem;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  width: 95%;
  margin: auto;
}

.testimonials .testimonial-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.testimonials .testimonial-item img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 10px solid #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
  z-index: 99;
}

.testimonials .testimonial-item .testimonial-info {
  background-color: #ffffff;
  padding: 5.5rem 2rem 2rem 2rem;
  margin-top: -4rem;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
          box-shadow: rgba(0, 0, 0, 0.15) 4px 4px 10px;
}

.testimonials .testimonial-item .testimonial-info p {
  color: #242a56;
  font-style: italic;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.testimonials .testimonial-item .testimonial-info h4 {
  color: #ff3d00;
  line-height: 1.3rem;
  margin-bottom: 1rem;
  text-align: center;
}

.testimonials .testimonial-item .testimonial-info .testimonial-rating {
  text-align: center;
  color: #f1c40f;
}

body {
  background-color: #eff2ff;
}

h2 {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  color: #242a56;
  font-weight: 600;
}

.tituloSection {
  color: #242a56;
}

/* Uso de extend */
.btn, .services .card-service .button, .grid-card .card-product .card-info .button {
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 12px;
  margin-top: 1.8rem;
  display: inline-block;
  font-size: 18px;
  text-align: center;
}

/* Uso de mixin */
.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team .card-team {
  height: 550px;
  width: 320px;
  margin: 20px;
  -webkit-box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.team .card-team .bg-image img {
  width: 100%;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 78%, 0% 100%);
}

.team .card-team .pic img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin-top: -90px;
  position: relative;
  border: 0.3rem solid #ffffff;
}

.team .card-team .info h3 {
  color: #242a56;
  padding: 10px 0;
}

.team .card-team .info p {
  font-size: 14px;
  padding: 15px 20px;
  color: #242a56;
}

.team .card-team .info .icons a {
  font-size: 20px;
  text-decoration: none;
  color: #e92f3d;
  margin-top: 20px;
  padding: 0 15px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.team .card-team .info .icons a:hover {
  color: #e92f3d;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body {
  background-color: #eff2ff;
}

h2 {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  color: #242a56;
  font-weight: 600;
}

.tituloSection {
  color: #242a56;
}

/* Uso de extend */
.btn, .services .card-service .button, .grid-card .card-product .card-info .button {
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 12px;
  margin-top: 1.8rem;
  display: inline-block;
  font-size: 18px;
  text-align: center;
}

/* Uso de mixin */
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .card-service {
  height: 460px;
  width: 300px;
  padding: 20px 35px;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 10px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.services .card-service .fa-solid {
  font-size: 3rem;
  display: block;
  text-align: center;
  color: #242a56;
  margin-top: 18px;
}

.services .card-service h3 {
  font-size: 1.5rem;
  text-align: center;
  margin: 18px;
}

.services .card-service .content p {
  color: #242a56;
  line-height: 20px;
}

.services .card-service .button {
  background-color: #e92f3d;
  color: #ffffff;
}

.services .card-service:hover {
  color: #749be7;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-animation: rotate 0.7s ease-in-out both;
          animation: rotate 0.7s ease-in-out both;
}

.services .card-service:before, .services .card-service:after {
  content: "";
  background-color: #749be7;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -80px;
  z-index: -1;
  -webkit-transform: translate(100%, -25%) translate3d(0, 0, 0);
          transform: translate(100%, -25%) translate3d(0, 0, 0);
  -webkit-transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.services .card-service:hover:before, .services .card-service:hover:after {
  opacity: 0.15;
}

.services .card-service:hover:before {
  -webkit-transform: translate3d(50%, 0, 0) scale(0.9);
          transform: translate3d(50%, 0, 0) scale(0.9);
}

.services .card-service:hover:after {
  -webkit-transform: translate(50%, 0) scale(1.1);
          transform: translate(50%, 0) scale(1.1);
}

.services .card-service a {
  text-decoration: none;
  font-weight: 500;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

body {
  background-color: #eff2ff;
}

h2 {
  padding: 50px;
  text-align: center;
  font-size: 35px;
  color: #242a56;
  font-weight: 600;
}

.tituloSection {
  color: #242a56;
}

/* Uso de extend */
.btn, .services .card-service .button, .grid-card .card-product .card-info .button {
  border: none;
  border-radius: 10px;
  width: 120px;
  padding: 12px;
  margin-top: 1.8rem;
  display: inline-block;
  font-size: 18px;
  text-align: center;
}

/* Uso de mixin */
.grid-card {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  -ms-grid-columns: (minmax(180px, 300px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(180px, 300px));
}

.grid-card .card-product {
  text-align: center;
  height: auto;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
          box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.grid-card .card-product img {
  display: block;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.grid-card .card-product .card-info {
  width: 100%;
  padding: 20px 0 30px 0;
}

.grid-card .card-product .card-info h3 {
  font-weight: 400;
  color: #242a56;
}

.grid-card .card-product .card-info p {
  font-weight: 300;
  margin: 16px 0;
}

.grid-card .card-product .card-info .button {
  background-color: #e92f3d;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
}

.social-icon span {
  font-size: 1.2rem;
  font-weight: bold;
}

.social-icon a {
  text-decoration: none;
}

.link-footer .text-footer {
  margin-top: 1rem;
  padding: 0 0 0 2rem;
}

.link-footer a {
  text-decoration: none;
  letter-spacing: .1rem;
  font-size: 1.2rem;
  padding: 0 0 0 2rem;
  margin-bottom: 2rem;
  color: var(--whitecolor);
  text-transform: uppercase;
  font-weight: 600;
}

.link-footer ul li {
  list-style: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* --- == ===  M E D I A   Q U E R Y S  === == --- */
@media screen and (max-width: 1200px) {
  .services {
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .repair-mobile > div {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .repair-notebooks > div {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .accesories > div {
    flex-direction: column;
  }
}

@media screen and (max-width: 642px) {
  .repair-mobile > div img {
    width: 100%;
  }

  .repair-notebooks > div img {
    width: 100%;
  }

  .accesories > div img {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .testimonials {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .testimonials {
    flex-direction: column;
  }
}

@media screen and (max-width: 412px) {
  .testimonials {
    flex-direction: column;
  }
}